

      body{

            margin:0;
            padding:0;
        	background:url("images/stars.gif");
        }

        .container{

        	width:100%px;
        	height:150px;
        	margin-top:40px;
            background:linear-gradient(#f1f1f2,#bcbabe,#a1d6e2,#1995ad);
            border-radius:10px;
            font-family:comic Sans MS;
        }

        .banner{

        	font-size:5em;
        	color:blue;
        	padding-top:2.5%;
        }  

        img{
        	width:25%;
        	height:300px;
        	padding:3%;
            border-radius:70px;
        }

        .content1{

            width:33%;
            color:blue;
            font-size:2em;
            float:left;
            background:linear-gradient(#98dbc6,#5bc8ac,#e6d72a,#f18d9e);
            border-radius:10px;
            font-family:comic Sans MS;
        }

        .content2{

            width:33%;
            color:blue;
            font-size:2em;
            margin-left:33%;
            margin-top:30%;
            background:linear-gradient(#9a9eab,#5d535e,#ec96a4,#dfe166);
            border-radius:10px;
            font-family:comic Sans MS;
        }

        .content3{

            width:33%;
            color:blue;
            font-size:2em;
            float:right;
            background:linear-gradient(#4d85bd,#7caa2d,#f5e356,#cb6318);
            border-radius:10px;
            font-family:comic Sans MS;
        }

        .link{

            float:left;
            font-size:2em;
            background-color: white;
            border-radius:10px;

        }

        @media only screen and (max-width:995px)
        {
        	.container{
        		width:100%;
        	}
        	.banner{
        		font-size:4.5em;
        		padding-top:6%;
        	}
            img{

            width:25%;
            height:300px;
            padding:3%;
            }
            .content1{

            width:33%;
            font-size:2em;
            float:left;
        }

           .content2{

            width:33%;
            font-size:2em;
            margin-left:33%;
            margin-top:55%;
        }
        .content3{

            width:33%;
            font-size:2em;
            float:right;
        }

        }

        @media only screen and (max-width:700px)
        {
        	.container{
        		width:100%;
        	}
        	.banner{
        		font-size:4em;
        		padding-top:5%;
        	}
            img{

            width:25%;
            height:260px;
            padding:3%;
           }
           .content1{

            width:33%;
            font-size:1.4em;
            float:left;
        }
           .content2{

            width:34%;
            font-size:1.4em;
            margin-left:33%;
            margin-top:60%;
        }
        .content3{

            width:32%;
            font-size:1.4em;
            float:right;
        }
    }

        @media only screen and (max-width:400px)
        {
        	.container{
        		width:100%;
        	}
        	.banner{
        		font-size:3.5em;
        		padding-top:4.5%;
        	}
            img{

            width:25%;
            height:220px;
            padding:3%;
        }
        .content1{

            width:33.5%;
            font-size:1em;
            float:left;
        }
           .content2{

            width:34.5%;
            font-size:1em;
            margin-left:33%;
            margin-top:65%;
        }
        .content3{

            width:32%;
            font-size:1em;
            float:right;
        }
    }

        @media only screen and (max-width:100px)
        {
        	.container{
        		width:100%;
        	}
        	.banner{
        		font-size:3em;
        		padding-top:6%;
        	}
            img{

            width:25%;
            height:180px;
            padding:3%;
        }
        .content1{

            width:33.5%;
            font-size:0.6em;
            float:left;
        }
            .content2{

            width:34.5%;
            font-size:0.6em;
            margin-left:33%;
            margin-top:70%;
        }
        .content3{

            width:32%;
            font-size:0.6em;
            float:right;
        }
    }

